 
<main id="main" class="main">
   
<div class="container ">
    <div class="my-auto">
        <a class="btn btn-primary" href="/admin/add-products">Add Products</a>
    </div>
    </div>
    <!-- Default Table -->
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Product-Name</th>
                <th scope="col">Description</th>
                <th scope="col">Category</th>
                <th scope="col">price</th>
                <th scope="col">image</th>
                <th scope="col">Edite</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
            <tr>
                <th scope="row">{{@index}}</th>
                <td>{{this.Name}}</td>
                <td>{{this.Discription}}</td>
                <td>{{this.Category}}</td>
                <td>{{this.Price}}</td>
                <td><img style="height: 50px; width:50px;" src="/product-images/{{this._id}}.png" alt="">  </td>
                <td>
                    <a href="/admin/product-edite?id={{this._id}}" class="btn btn-primary">Edite</a>
                    
                </td>
                <td>
                    <a href="/admin/product-delete/{{this._id}}" class="btn btn-danger " onclick="return confirm('Are you want to Delete {{this.Name}}?')">Delete</a>
                </td>

            </tr>
            {{/each}}
            <tr>
                
        </tbody>
    </table>
    <!-- End Default Table Example -->
    </div>
    </div>
</main>